footer.footer#part-5 
  .container 
    .footer-top 
      .footer-column
        a(href='index.html').footer-heading.footer-heading--logo Mogo 
        p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p.footer-follower <strong> 15K </strong> followers
        .footer-social 
          span.text Follow us: 
          .footer-social-list
            a.footer-social-icon(href='#') 
              i.fab.fa-facebook
            a.footer-social-icon(href='#') 
              i.fab.fa-twitter
            a.footer-social-icon(href='#') 
              i.fab.fa-instagram
            a.footer-social-icon(href='#') 
              i.fab.fa-youtube
            a.footer-social-icon(href='#') 
              i.fab.fa-pinterest
            a.footer-social-icon(href='#') 
              i.fab.fa-dribbble
            a.footer-social-icon(href='#') 
              i.fab.fa-tumblr
            a.footer-social-icon(href='#') 
              i.fab.fa-google-plus
        form.footer-form
          input(type='email' placeholder='Your Email').footer-form-input
          button.footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs 
        a(href='#').footer-blog 
          img.footer-blog-image(src='./images/img-blogs1.png')
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing elit 
            span.footer-blog-date.text.text--light Jan 9, 2016
        a(href='#').footer-blog 
          img.footer-blog-image(src='./images/img-blogs2.png')
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing elit 
            span.footer-blog-date.text.text--light Jan 9, 2016
        a(href='#').footer-blog 
          img.footer-blog-image(src='./images/img-blogs3.png')
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing elit 
            span.footer-blog-date.text.text--light Jan 9, 2016
      .footer-column
        h3.footer-heading Instagram
        .footer-images 
          .footer-image
            img(src='https://images.unsplash.com/photo-1547148915-7527397648e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1553531384-411a247ccd73?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1587502537104-aac10f5fb6f7?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1587502536575-6dfba0a6e017?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1444464666168-49d633b86797?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1572099606223-6e29045d7de3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1587502536263-5dda37cd33f0?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80') 
          .footer-image
            img(src='https://images.unsplash.com/photo-1487622750296-6360190669a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80')
        a(href='#').footer-images-more.text.text--light  View more photo
    .footer-bottom &coppy; 2016 MoGo free PSD template by <span> Laaqiq </span>