section.people 
  .container 
    +blockBox('Happy clients', 'What people say')
    ul.people-list 
      +peopleItem('./images/img-people1.png', 'Matthew dix')
      +peopleItem('./images/img-people2.png', 'Nick karvounis')
      +peopleItem('./images/img-people3.png', 'Jaelynn castillo')
      +peopleItem('./images/img-people4.png', 'Mike petrucci')
